---
import MainLayout from "../layouts/Main.astro";
---

<MainLayout title="PGP - Gaurish Sethia">
  <div class="container">
    Email: <a class="link" href="mailto:gaurishh.sethia@gmail.com">gaurishh.sethia@gmail.com</a>
    <br />
    <br />
    My OpenPGP public key is available on public key servers. Most email clients should pick it up automatically. 
    If not, you can find my public key <a class="link" href="/.well-known/publickey.txt">here</a>
    <br />
    <br />
    Key ID: <code>0x3B5B83FDFD61D3C5</code>
    <br />
    PGP Fingerprint: <code>1052 42AC 3795 2E33 951C  DB32 3B5B 83FD FD61 D3C5</code>
  </div>
</MainLayout>
