---
export interface KV {
    key: string;
    value: string;
    link: string;
}

interface Props {
    items: KV[];
}

const { items } = Astro.props;
---

<ul class="divide-y w-full divide-neutral-700">
    {items.map((item, i) => (
        <li
            class="py-3 w-full justify-between flex gap-2 cursor-pointer"
        >
            <a
                class="flex w-full group justify-between text-sm text-neutral-300"
                href={item.link}
            >
                <span class="mr-2 transition group-hover:text-neutral-200">
                    {item.key}
                </span>
                <p class="transition group-hover:text-neutral-200">
                    {item.value}
                </p>
            </Link>
        </li>
    ))}
</ul>

