---
const pathname = new URL(Astro.request.url).pathname;
const isHome = pathname === '/';
---

<div class="mx-auto mb-6 py-2">
    {isHome ? (
        <span class="text-neutral-500">gaurishhs</span>
    ) : (
    <a href="/" class="text-neutral-500">gaurishhs</a>
    )}
</div>