---
export interface KV {
    key: string;
    value: string;
    link: string;
}

interface Props {
    items: KV[];
}

const { items } = Astro.props;
---

<div class="w-full">
    {items.map((item, i) => (
        <a
            class="py-1 w-full px-1 cursor-pointer"
            href={item.link}
        >
            <div
                class="flex-wrap md:flex md:flex-row w-full group justify-between text-sm text-neutral-300"
            >
                <span class="mr-2 transition group-hover:text-neutral-200">
                    {item.key}
                </span>
                <p class="transition text-neutral-500 group-hover:text-neutral-400">
                    {item.value}
                </p>
            </div>
        </a>
    ))}
</div>

