---
import MainLayout from "./Main.astro";

interface Props {
  title: string;
  date: Date;
  slug: string;
  readingTime: string;
}

const { title, date, slug, readingTime } = Astro.props;
const formattedDate = date.toLocaleString("en-US", {
    month: "long",
    day: "numeric",
    year: "numeric",
});
---

<MainLayout ogImg={"/og/" + slug + ".png"} title={title}>
  <article
    class="prose overflow-x-hidden prose-neutral prose-invert"
  >
    <header>
      <h1 class="text-3xl sm:text-2xl font-bold tracking-tight">
        {title}
      </h1>
        <time class="text-sm text-neutral-400 font-mono">
          {formattedDate} • {readingTime}
        </time>
    </header>
    <slot />
  </article>
</MainLayout>
